root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# shlfmt starts here
[*.sh]
shell_variant = posix     # like -ln=posix
binary_next_line = true   # like -bn
switch_case_indent = true # like -ci
space_redirects = true    # like -sr
# keep_padding = true       # like -kp

[*.bash]
# like -i=4
indent_style = space
indent_size = 4

# shell_variant = posix     # like -ln=posix
binary_next_line = true   # like -bn
switch_case_indent = true # like -ci
space_redirects = true    # like -sr
# keep_padding = true       # like -kp

# Ignore the entire "third_party" directory.
[third_party/**]
ignore = true
